on:
  workflow_dispatch:
  push:
    branches: ["main", "dev-milestone-3"]

name: Run and publish docs

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      # setup python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
            python-version: "3.10"

      # intall dependancies
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install -e .[docs]

      # manually call quartodocs build
      - name: quartodoc build
        run: |
            quartodoc build

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}